{
    "version": 1,
    "StorageDriverName": "hedvig-block",
    "BackendName": "hedvig-block-backend",
    "StorageCluster": "{{ storage_cluster }}",
    "StorageNode": "{{ storage_node }}",
    "StorageEndpoints": [],
    "StorageEndpointIPs": [],
    "CommonStorageEndpoint": "127.0.0.1",
    "InitiatorIQNs": [],
    "CVMIQNConstant": "pinningcvm",
    "KubeClusterID": "{{ kube_cluster_id }}"
}
